@page
@model WebApp.Pages.Author.AddModel
@{
}

<form method="post">
	<fieldset>
		<div>
			<label asp-for="Author.Name"></label>
			<input asp-for="Author.Name"/>
		</div>
		<br/>
		<div>
			<button class="btn btn-primary" type="submit">Add</button>
			<button class="btn btn-primary" asp-page="index">Back</button>
		</div>
	</fieldset>
</form>