@page "/login"

@model WebApp.Pages.Auth.LoginModel
@{
}

<form method="post">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<table class="container">
		<tr class="row">
			<td class="col-sm-2"><label class="form-label">UserName :</label></td>
			<td class="col-sm-4">
				<input type="text" class="form-control" asp-for="UserInfoData.UserName" />
				<ValidationMessage For="(()=> UserInfoData.UserName)" />
		    </td>			
		</tr>
		<tr class="row"><td><br/></td></tr>
		<tr class="row">
			<td class="col-sm-2"><label class="form-label">Password :</label></td>
			<td class="col-sm-4">
				<input type="password" class="form-control" asp-for="UserInfoData.Password" type="password"></input>
				<ValidationMessage For="(()=> UserInfoData.Password)" />
			</td>

		</tr>
		<tr class="row"><td><br/></td></tr>
		<tr class="row">
			<td class="col-sm-2"></td>
			<td class="col-sm-4">
				<button type="submit" asp-page-handler="LoginUser" class="btn btn-sm btn-success">Login</button>
				<button type="reset" class="btn btn-sm btn-primary">Cancel</button>
			</td>
		</tr>
	</table>
</form>